.cardContainer {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 45px 0px;
}

.cardImage {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage img {
    border-radius: 15px;
    width: 200px;
}

.cardContents {
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.cardContents h2 {
    margin: 10px 0;
    font-size: 25px;
}